#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1050px;
    border: 2px solid black;
    column-gap: 5px;
    row-gap: 5px;
}

.grid-item {
    border: 2px red solid;
    padding: 3px;
}

#footer {
    grid-column: 1 / 3;
}

#tile-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}